@import './assets/css/buttons.css'; 
@import './assets/css/header.css';
@import './assets/css/sections.css';
@import './assets/css/second-section.css';
@import './assets/css/third-section.css';
@import './assets/css/fourth-section.css';
@import './assets/css/formsection.css';
/* @import */

@font-face {
  font-family: "mulish-regular";
  src: url("../src/assets/fonts/Mulish-Regular.woff2") format("woff2"),
       url("../src/assets/fonts/Mulish-Regular.woff") format("woff");
}

@font-face {
  font-family: "mulish-semibold";
  src: url("../src/assets/fonts/Mulish-SemiBold.woff2") format("woff2"),
       url("../src/assets/fonts/Mulish-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "mulish-extrabold";
  src: url("../src/assets/fonts/Mulish-ExtraBold.woff2") format("woff2"),
       url("../src/assets/fonts/Mulish-ExtraBold.woff") format("woff");
}


@font-face {
  font-family: "raleway-regular";
  src: url("../src/assets/fonts/Raleway-Regular.woff") format("woff2"),
       url("../src/assets/fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "raleway-bold";
  src: url("../src/assets/fonts/Raleway-Bold.woff") format("woff2"),
       url("../src/assets/fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "raleway-semibold";
  src: url("../src/assets/fonts/Raleway-Black.woff2") format("woff2"),
       url("../src/assets/fonts/Raleway-Black.woff") format("woff");
}
  
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
  background: #0D0F16;
}

a{
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-h3{
  display: flex;
  font-size: 12px;
  line-height: 19px;
  color: #FF455B;
  text-transform: uppercase;
  font-family: 'mulish-semibold';
  img{
    margin-right: 10px;
  }
}

.title-h2{
  font-size: 48px;
  line-height: 57px;
  color: #FFF;
  font-family: 'raleway-bold';
  text-transform: capitalize;
  img{
    margin-right: 10px;
  }
}

.title-h5{
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
  font-family: 'raleway-bold';
  text-transform: capitalize;
}

.desc-1{
  font-size: 24px;
  line-height: 34px;
  color: #989CAC;
  font-family: 'mulish-regular';
}